/*
Theme Name: Baltic
Theme URI: http://underscores.me/
Author: Szymon Chodzidło
Author URI: http://www.szchodzidlo.pl
Description: This is simple description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: baltictheme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Baltic is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# 1.0 Reset
# 2.0 General style
# 3.0 Typography
# 4.0 Elements
# 5.0 Forms
# 6.0 Navigation
## 6.1 Links
## 6.2 Header Main Navigation
## 6.3 Social Menu Navigation (Footer)
## 6.4 Widget Menu Navigation (Sidebar)
# 7.0 Accessibility
# 8.0 Alignments
# 9.0 Clearings
# 10.0 Header
# 11.0 Widgets
# 12.0 Content
## 12.1 404.php
## 12.2 Archive.php
## 12.3 Search.php
## 12.4 Posts navigation and pagination
## 12.5 Posts and pages
## 12.6 Post formats
## 12.7 Galleries
# 13.0 Comments
# 14.0 Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 Reset - ! normalize.css v3.0.2 | MIT License | git.io/normalize
--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/*--------------------------------------------------------------
# 2.0 General style
--------------------------------------------------------------*/

.site {
    margin-top: 55px;
}

@media only screen and (max-width: 782px) {
    .site {
        margin-top: 0;
    }
}

body.logged-in .site-header {
    top: 32px;
}

@media only screen and (max-width: 782px) {
	body.logged-in .site-header {
	    top: 0;
	}
}


/*--------------------------------------------------------------
# 3.0 - Typography
--------------------------------------------------------------*/

html {
    font-size: 10px; 
}

body,
button,
input,
select,
textarea {
    color: #111;
    font-family: 'Lato',Verdana,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

h1 {
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 700;

}

h2 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
}

h4 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
}

h5 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}

h6 {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
}

p {
    margin-bottom: 2rem;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote,
q {
    margin: 0 2rem;
    padding: 1rem 2rem;
}

address {
    margin: 0 0 2rem 1rem;
    font-style: italic;
}

pre {
    background: #ecf0f1;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2.1rem;
    max-width: 100%;
    overflow: auto;
    padding: 2.1rem;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 1.5rem;
}

code {
	background: #ECF0F1;
	color: #3498DB;
	border-radius: 0;
}

kbd {
	background: #111;
	color: #fff;
	border-radius: 0;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 9px;
    }
}

/*--------------------------------------------------------------
# 4.0 - Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { 
/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
/* Fallback for when there is no custom background color defined. */
    background: #fff; 
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
    border-left: 3px solid #FAC03B;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 2rem;
}

ul,
ol {
    margin: 0 0 2rem 1.5rem;
    padding-left: 2rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1rem;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 2rem 2rem;
}

figure,
img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100% !important; /* Adhere to container width. */
    margin: 0;
}

table {
    margin: 2rem 0;
    width: 100%;
}

/*--------------------------------------------------------------
# 5.0 - Forms
--------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.42;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s,
                box-shadow ease-in-out .15s;

    /* Bootstrap style */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	outline: none;
    box-shadow: 0 0 5px #FAC03B;
    border-color: #FAC03B;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    padding: .6rem 1.2rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #3498DB;
    border-color: #3498DB;
    color: #fff;
}

select {
    border: 1px solid #ccc;
}

textarea {
    padding-left: 3px;
    width: 100%;
}

/*--------------------------------------------------------------
# 6.0 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## 6.1 - Links
--------------------------------------------------------------*/

a {
    color: #111;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

a:visited {
    color: #111; 
}

a:hover,
a:focus,
a:active {
    color: #FAC03B;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover,
a:active {
    outline: 0;
}


/*--------------------------------------------------------------
## 6.2 - Header Main Navigation
--------------------------------------------------------------*/

.site-header {
    width: 100%;
    height: 6.1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
}

.site-header .toggle-btn {
    width: 10rem;
    height: 6rem;
    position: absolute;
    display: block;
    padding: 1.5rem;
    float: left;
    cursor: pointer;
    font-size: 1.8rem;
    color: #111;
    background: #fff;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.site-header .toggle-btn {
    top: 0;
    left: 0;
    display: none;
}

.site-header .toggle-btn:hover {
    color: #fff;
    background: #3498DB;
}

.site-header .main-navigation {
    display: block;
    margin: 0 1rem;
}

.main-navigation .menu {
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

.main-navigation .menu > .menu-item {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.main-navigation .menu .menu-item a {
    position: relative;
    display: inline-block;
    padding: 2rem 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
}

.main-navigation .menu .current-menu-item {
    font-style: italic;
}

.main-navigation .menu > .menu-item-has-children > a:after {
    margin-left: .5rem;
    font-family: 'FontAwesome';
    content: '\f107';
    color: #111;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.main-navigation .sub-menu > .menu-item-has-children > a:after {
    position: absolute;
    right: .5rem;
    font-family: 'FontAwesome';
    content: '\f105';
    color: #111;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.main-navigation .menu > .menu-item-has-children > a:hover:after,
.main-navigation .sub-menu > .menu-item-has-children > a:hover:after {
    color: #FAC03B;
}

.main-navigation .menu .menu-item > .sub-menu {
    min-width: 200px;
    max-width: 240px;
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 0;
    margin: 0;

    background: #fff;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.main-navigation .sub-menu .menu-item {
    display: block;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.main-navigation .sub-menu .menu-item a {
    padding: 1.5rem;
}

.main-navigation .sub-menu .menu-item a:hover {
    padding-left: 2rem;
}

.main-navigation .menu .sub-menu .menu-item a,
.main-navigation .menu .menu-item:hover >.sub-menu {
    display: block;
}

.main-navigation .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.main-navigation .menu .menu-item a:hover {
    color: #FAC03B;
    text-decoration: none;
}



@media only screen and (max-width: 782px) {
    .site-header  {
        position: relative;
        height: auto;
    }

    .site-header .toggle-btn {
    	display: block;
        position: relative;
        left: 0;
    }

    .site-header .main-navigation {
        display: none;
    }

    .main-navigation .menu {
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .main-navigation .menu > .menu-item { 
        display: block;
    }

    .main-navigation .menu .menu-item a,
    .main-navigation .sub-menu .menu-item a {
        display: block;
        width: 100%;
        border-top: 1px solid #ccc;
        padding: 1.5rem;
    }

    .main-navigation .menu > .menu-item-has-children > a:after,
    .main-navigation .sub-menu > .menu-item-has-children > a:after {
        display: none;
    }

    .main-navigation .menu .menu-item > .sub-menu {
        margin-left: 2rem;
        display: block;
        max-width: 100%;
        position: static;
        background: #fff;
        box-shadow: none;
    }

    .main-navigation .sub-menu .sub-menu {
        left: 0;
    }

    .main-navigation .menu .menu-item a:hover {
	    padding-left: 2rem;
	}
}

/*--------------------------------------------------------------
## 6.3 - Social Menu Navigation (Footer)
--------------------------------------------------------------*/

.site-footer .social-navigation .social-links-menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

.site-footer .social-navigation .menu-item {
    display: inline-block;
    margin-left: .5rem;
}

.site-footer .social-navigation .menu-item span {
    display: none;
}

.site-footer .social-navigation a {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    margin-top: 2rem;
    color: #fff; 
    border: 1px solid;
    text-align: center;
    border-radius: 2px;
}

.site-footer .social-navigation a:hover {
    color: #FAC03B;
}

.social-navigation a[href*="codepen.io"]:before,
.widget_nav_menu a[href*="codepen.io"]:before {
    font-family: 'FontAwesome';
    content: "\f1cb";
}

.social-navigation a[href*="digg.com"]:before,
.widget_nav_menu a[href*="digg.com"]:before {
    font-family: 'FontAwesome';
    content: "\f1a6";
}

.social-navigation a[href*="dribbble.com"]:before,
.widget_nav_menu a[href*="dribbble.com"]:before,
.author-info .author-social-links a[href*="dribbble.com"]:before {
    font-family: 'FontAwesome';
    content: "\f17d";
}

.social-navigation a[href*="dropbox.com"]:before,
.widget_nav_menu a[href*="dropbox.com"]:before {
    font-family: 'FontAwesome';
    content: "\f16b";
}

.social-navigation a[href*="facebook.com"]:before,
.widget_nav_menu a[href*="facebook.com"]:before,
.author-info .author-social-links a[href*="facebook.com"]:before {
    font-family: 'FontAwesome';
    content: "\f09a";
}

.social-navigation a[href*="flickr.com"]:before,
.widget_nav_menu a[href*="flickr.com"]:before,
.author-info .author-social-links a[href*="flickr.com"]:before {
    font-family: 'FontAwesome';
    content: "\f16e";
}

.social-navigation a[href*="foursquare.com"]:before,
.widget_nav_menu a[href*="foursquare.com"]:before {
    font-family: 'FontAwesome';
    content: "\f180";
}

.social-navigation a[href*="plus.google.com"]:before,
.widget_nav_menu a[href*="plus.google.com"]:before,
.author-info .author-social-links a[href*="plus.google.com"]:before {
    font-family: 'FontAwesome';
    content: "\f0d5";
}

.social-navigation a[href*="github.com"]:before,
.widget_nav_menu a[href*="github.com"]:before,
.author-info .author-social-links a[href*="github.com"]:before {
    font-family: 'FontAwesome';
    content: "\f09b";
}

.social-navigation a[href*="instagram.com"]:before,
.widget_nav_menu a[href*="instagram.com"]:before,
.author-info .author-social-links a[href*="instagram.com"]:before {
    font-family: 'FontAwesome';
    content: "\f16d";
}

.social-navigation a[href*="linkedin.com"]:before,
.widget_nav_menu a[href*="linkedin.com"]:before,
.author-info .author-social-links a[href*="linkedin.com"]:before {
    font-family: 'FontAwesome';
    content: "\f0e1";
}

.social-navigation a[href*="pinterest.com"]:before,
.widget_nav_menu a[href*="pinterest.com"]:before,
.author-info .author-social-links a[href*="pinterest.com"]:before {
    font-family: 'FontAwesome';
    content: "\f231";
}

.social-navigation a[href*="getpocket.com"]:before,
.widget_nav_menu a[href*="getpocket.com"]:before {
    font-family: 'FontAwesome';
    content: "\f265";
}

.social-navigation a[href*="reddit.com"]:before,
.widget_nav_menu a[href*="reddit.com"]:before {
    font-family: 'FontAwesome';
    content: "\f1a1";
}

.social-navigation a[href*="skype.com"]:before,
.widget_nav_menu a[href*="skype.com"]:before {
    font-family: 'FontAwesome';
    content: "\f17e";
}

.social-navigation a[href*="stumbleupon.com"]:before,
.widget_nav_menu a[href*="stumbleupon.com"]:before {
    font-family: 'FontAwesome';
    content: "\f1a4";
}

.social-navigation a[href*="tumblr.com"]:before,
.widget_nav_menu a[href*="tumblr.com"]:before {
    font-family: 'FontAwesome';
    content: "\f173";
}

.social-navigation a[href*="twitter.com"]:before,
.widget_nav_menu a[href*="twitter.com"]:before,
.author-info .author-social-links a[href*="twitter.com"]:before {
    font-family: 'FontAwesome';
    content: "\f099";
}

.social-navigation a[href*="vimeo.com"]:before,
.widget_nav_menu a[href*="vimeo.com"]:before {
    font-family: 'FontAwesome';
    content: "\f27d";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before,
.widget_nav_menu a[href*="wordpress.com"]:before,
.widget_nav_menu a[href*="wordpress.org"]:before {
    font-family: 'FontAwesome';
    content: "\f19a";
}

.social-navigation a[href*="youtube.com"]:before,
.widget_nav_menu a[href*="youtube.com"]:before,
.author-info .author-social-links a[href*="youtube.com"]:before {
    font-family: 'FontAwesome';
    content: "\f167";
}

.social-navigation a[href*="mailto:"]:before,
.widget_nav_menu a[href*="mailto:"]:before {
    font-family: 'FontAwesome';
    content: "\f1fa";
}

.social-navigation a[href*="spotify.com"]:before,
.widget_nav_menu a[href*="spotify.com"]:before {
    font-family: 'FontAwesome';
    content: "\f1bc";
}

.social-navigation a[href*="soundcloud.com"]:before,
.widget_nav_menu a[href*="soundcloud.com"]:before {
    font-family: 'FontAwesome';
    content: "\f1be";
}

.social-navigation a[href*="twitch.tv"]:before,
.widget_nav_menu a[href*="twitch.tv"]:before {
    font-family: 'FontAwesome';
    content: "\f1e8";
}

.social-navigation a[href*="/feed/"]:before,
.widget_nav_menu a[href*="/feed/"]:before,
.author-info .author-social-links a[href*="/feed/"]:before {
    font-family: 'FontAwesome';
    content: "\f09e";
}

/*--------------------------------------------------------------
## 6.4 - Widget Menu Navigation (Sidebar)
--------------------------------------------------------------*/

.widget-area .widget_nav_menu ul {
    margin: 0;
    padding-left: 1rem;
    list-style: none;
}

.widget-area .widget_nav_menu .menu {
    border: 1px dashed #ccc;
}

.widget-area .widget_nav_menu ul .sub-menu {
    margin-left: 1rem;
}

.widget-area .widget_nav_menu .sub-menu li a:before {
    font-family: 'FontAwesome';
    content: '\f105';
    color: #111;
    position: relative;
    left: 0;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.widget-area .widget_nav_menu .sub-menu li a:hover:before {
	color: #FAC03B;
}

.widget-area .widget_nav_menu ul li a {
    display: block;
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;  
}

.widget-area .widget_nav_menu ul li a:before {
    margin-right: .5rem;
}

/*--------------------------------------------------------------
# 7.0 - Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}



/*--------------------------------------------------------------
# 8.0 - Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 1rem 2rem 1rem 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 1rem 0 1rem 2rem;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2rem;
}


/*--------------------------------------------------------------
# 9.0 - Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# 10.0 - Header
--------------------------------------------------------------*/

.site-branding {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 450px;
}

.site-branding .site-logo {
    background-repeat: no-repeat;
    background-position: center center;
    margin: 3rem 0 2rem;
    text-align: center;
}

.site-branding .site-title {
    text-align: center;
    margin: 6rem 1rem 2rem;
    line-height: 4rem;
    font-weight: 400;
    font-family: 'Lobster 1.3';
}

.site-branding .site-title a {
    font-size: 6.4rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(130, 130, 130, 1);
}

.site-branding .site-description {
    color: #fff;
    font-size: 2.8rem;
    line-height: 3rem;
    text-align: center;
    font-family: 'Lato';
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(130, 130, 130, 1);
}

@media only screen and (max-width: 992px) {
    .site-branding {
        height: 300px;
    }
}

/*--------------------------------------------------------------
# 11.0 - Widgets
--------------------------------------------------------------*/

.widget-area {
    margin-bottom: 3rem;
    background: transparent;
}

.widget-area .widget {
	position: relative;
	margin-bottom: 2rem;
}

#secondary.widget-area .widget {
	padding: 1rem;
	background: #fff;
}

.widget-area .widget-title {
    padding-left: 2rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-align: left;
    text-transform: uppercase;
}

.widget-area .widget_archive ul,
.widget-area .widget_categories ul,
.widget-area .widget_meta ul,
.widget-area .widget_pages ul,
.widget-area .widget_recent_comments ul,
.widget-area .widget_recent_entries ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget-area .widget_archive ul li,
.widget-area .widget_categories ul li,
.widget-area .widget_meta ul li,
.widget-area .widget_pages ul li,
.widget-area .widget_recent_comments ul li,
.widget-area .widget_recent_entries ul li {
    padding: 0.7rem 0 0.7rem 0.7rem;
}

#secondary.widget-area .widget_archive ul li,
#secondary.widget-area .widget_categories ul li,
#secondary.widget-area .widget_meta ul li,
#secondary.widget-area .widget_pages ul li,
#secondary.widget-area .widget_recent_comments ul li,
#secondary.widget-area .widget_recent_entries ul li {
    border-bottom: 1px dashed #ccc;
}

#secondary.widget-area .widget_archive ul li:last-child,
#secondary.widget-area .widget_categories ul li:last-child,
#secondary.widget-area .widget_meta ul li:last-child,
#secondary.widget-area .widget_pages ul li:last-child,
#secondary.widget-area .widget_recent_comments ul li:last-child,
#secondary.widget-area .widget_recent_entries ul li:last-child {
    border-bottom: none;
}

.widget-area .widget_archive ul li a:before {
    font-family: 'FontAwesome';
    content: '\f187';
}

.widget-area .widget_categories ul li a:before {
    font-family: 'FontAwesome';
    content: '\f07c';
}

.widget-area .widget_meta ul li a:before {
    font-family: 'FontAwesome';
    content: '\f013';
}

.widget-area .widget_pages ul li a:before {
    font-family: 'FontAwesome';
    content: '\f15c';
}

.widget-area .widget_recent_comments .comment-author-link:before {
    font-family: 'FontAwesome';
    content: '\f075';
}

.widget-area .widget_recent_entries ul li a:before {
    font-family: 'FontAwesome';
    content: '\f105';
}

.widget-area .widget_archive ul li a:before,
.widget-area .widget_categories ul li a:before,
.widget-area .widget_meta ul li a:before,
.widget-area .widget_pages ul li a:before,
.widget-area .widget_recent_comments .comment-author-link:before,
.widget-area .widget_recent_entries ul li a:before {
    position: relative;
    font-weight: 400;
    font-style: normal;
    left: -.5rem;

    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.widget-area .widget_archive ul li a:hover:before,
.widget-area .widget_categories ul li a:hover:before,
.widget-area .widget_meta ul li a:hover:before,
.widget-area .widget_pages ul a:hover:before,
.widget-area .widget_recent_entries ul li a:hover:before {
    color: #FAC03B;
}

.widget-area .widget_archive ul a,
.widget-area .widget_categories ul a,
.widget-area .widget_meta ul a,
.widget-area .widget_pages ul a {
    padding-left: .5em;
}

.widget-area .widget_archive ul a:hover,
.widget-area .widget_categories ul a:hover,
.widget-area .widget_meta ul a:hover,
.widget-area .widget_pages ul a:hover {
    text-decoration: none;
    color: #FAC03B;
}

.widget-area .widget_archive select,
.widget-area .widget_categories select {
    width: calc(100% - 1.4rem);
    margin: 0 .7rem;
    background: #fff;
    border: 1px solid #ccc;
    color: #111;
    font-style: italic;
    padding-left: .7rem;
    cursor: pointer;

    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.widget-area .widget_archive select option,
.widget-area .widget_categories select option {
    padding: .7rem;
}

.widget-area .widget_categories ul .children li,
.widget-area .widget_pages ul .children li {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: .7rem;
    padding-left: 1.4rem;
}

.widget-area .widget_recent_comments ul a,
.widget-area .widget_recent_entries ul a {
    display: block;
    width: 100%;
}

.widget-area .widget_calendar table {
    width: 100%;
}

.widget-area .widget_calendar table th,
.widget-area .widget_calendar table td {
    text-align: center;
}

.widget-area .widget_calendar table caption {
    text-align: center;
    color: #ccc;
}

.widget-area .widget_calendar table a {
    font-weight: 700;
}

.widget-area .widget_calendar table #today {
    background: #FAC03B;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
}

.widget-area .widget_calendar table #today a{
    color: #fff;
}

.widget-area .widget_calendar table a:hover {
    text-decoration: none;
}

.widget-area .widget_recent_comments .comment-author-link {
    font-style: italic;
    font-weight: 700;
}

.widget-area .widget_recent_entries ul li .post-date {
    color: #333;
    font-size: 1.3rem;
    margin-left: 1.2em;
    font-style: italic;
}

.widget-area .widget_search label {
    display: inline;
}

.widget-area .widget_search .search-form .search-field {
    padding-right: 30px;
    background: #fff url(img/search.png) no-repeat 98% center;
}

.widget-area .widget_search .search-form .search-submit {
    display: none;
}

.widget-area .widget_tag_cloud .tagcloud a {
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem !important;
    background: #2C3E50;
    color: #fff;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 2px;
}

.widget-area .widget_tag_cloud .tagcloud a[href*="category"] {
	text-transform: uppercase;
}

.widget-area .widget_tag_cloud .tagcloud a[href*="tag"] {
	text-transform: lowercase;
}

.widget-area .widget_tag_cloud .tagcloud a:hover {
    text-decoration: none;
    background: #FAC03B;
}

/*--------------------------------------------------------------
# 12.0 - Content
--------------------------------------------------------------*/

.content-area,
.widget-area {
    margin-top: 2rem;
}

@media only screen and (max-width: 992px) {
    .content-area,
    .widget-area {
        padding: 0;
    }

    .widget-area .widget {
        width: 100%;
    }
}

/*--------------------------------------------------------------
## 12.1 - 404
--------------------------------------------------------------*/

.error-404 {
	background: #fff;
	padding: 2rem;
	padding-bottom: 5rem;
}

.error-404 .page-header {
	padding: 0;
    margin-top: 0;
    background: #fff;
    border-bottom: 1px dashed #ccc;
}

.error-404 .page-header .page-title {
	margin: 0;
    padding: 2rem;
    font-weight: 400;
}

.error-404 .page-content .message-404 {
	font-size: 12rem;
	text-align: center;
	font-weight: 700;
	color: #ccc;
}

.error-404 .widget_pages {
	margin-bottom: 3rem;
}

.error-404 .widget_pages h3 {
	padding-left: 2rem;
    margin: 2rem 0;
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
}

.error-404 .widget_pages ul {
	margin: 0;
    padding: 0;
    list-style: none;
}

.error-404 .widget_pages ul li {
	padding: .5rem 0 .5rem 1rem;
    border-bottom: 1px dashed #ccc;
}

.error-404 .widget_pages ul li:last-child {
	border-bottom: none;
}

.error-404 .widget_pages ul li a:before {
    font-family: 'FontAwesome';
    content: '\f15c';
    position: relative;
    font-weight: 400;
    font-style: normal;
    left: -1rem;
}

.error-404 .widget_pages ul a:hover:before {
	color: #FAC03B;

	-webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.error-404 .widget_pages ul a {
    padding-left: .5em;
    font-size: 1.6rem;
}

.error-404 .widget_pages ul a:hover {
    text-decoration: none;
    color: #FAC03B;
}

.error-404 .error-info {
	font-size: 1.7rem;
	text-align: center;
}

.error-404 .search-form label {
    display: inline;
}

.error-404 .search-form .search-field {
    padding-right: 30px;
    background: #fff url(img/search.png) no-repeat 98% center;
}

.error-404 .search-form .search-submit {
    display: none;
}

@media only screen and (max-width: 992px) {
	.error-404 .page-header .page-title {
		padding-left: 0;
		text-align: center;
	}
}

/*--------------------------------------------------------------
## 12.2 - Archive
--------------------------------------------------------------*/

.archive-content .page-header {
	padding: 0;
    margin-top: 0;
	background: #fff;
	border-bottom: 1px dashed #ccc;
}

.archive-content .page-header .page-title {
	margin: 0;
	padding: 2rem;
	font-weight: 400;
}


/*--------------------------------------------------------------
## 12.3 - Search
--------------------------------------------------------------*/

.search-area .page-header {
    padding: 0;
    margin-top: 0;
    background: #fff;
    border-bottom: 1px dashed #ccc;
}

.search-area .page-header .page-title {
    margin: 0;
    padding: 2rem;
    font-weight: 400;
}

.search-area .no-results .page-content {
    margin-bottom: 2rem;
    padding: 2rem;
    background: #fff;
}

.search-area .no-results .no-results-info {
    font-size: 1.7rem;
    text-align: center;
}

.search-area .no-results .search-form label {
    display: inline;
}

.search-area .no-results .search-form .search-field {
    padding-right: 30px;
    margin-bottom: 2rem;
    background: #fff url(img/search.png) no-repeat 98% center;
}

.search-area .no-results .search-form .search-submit {
    display: none;
}

.search-area .page {
	border-bottom: 0 !important;
}

/*--------------------------------------------------------------
## 12.4 - Posts navigation and pagination
--------------------------------------------------------------*/

.content-area .pagination {
    display: block;
    text-align: center;
    margin: 5rem 0 3rem;
}

.content-area .pagination .nav-links .page-numbers {
    padding: 1rem;
    font-weight: 700;
    background: #fff;
    border: 1px solid #ccc;
}

.content-area .pagination .nav-links .page-numbers:hover {
    color: #fff;
    background: #3498DB;
    border-color: #3498DB;
}

.content-area .pagination .nav-links .dots,
.content-area .pagination .nav-links .dots:hover {
    color: #111;
    background: #fff !important;
    border: none;
}

.content-area .pagination .nav-links .current,
.content-area .pagination .nav-links .current:hover {
    background: #FAC03B;
    border-color: #FAC03B;
    color: #111;
}

.post .entry-content .page-links,
.page .entry-content .page-links {
    text-align: center;
    margin-top: 3rem;
}

.post .entry-content .page-links .page-links-title,
.page .entry-content .page-links .page-links-title {
    display: inline;
    font-weight: 700;
}

.post .entry-content .page-links > span,
.page .entry-content .page-links > span {
    padding: .7rem 1rem;
    margin: 0 .5rem;
    border: 1px solid #FAC03B;
    font-weight: 700;
    font-style: italic;
    background: #FAC03B;
    color: #fff;
}

.post .entry-content .page-links > a,
.page .entry-content .page-links > a {
    padding: .7rem 1rem;
    margin: 0 .5rem;
    border: 1px solid #ccc;
    font-weight: 700;
    text-decoration: none;
    outline: none;
}

.post .entry-content .page-links > a:hover,
.page .entry-content .page-links > a:hover {
    color: #fff;
    background: #3498DB;
    border-color: #3498DB;
}


.content-area .post-navigation {
    overflow: hidden;
    padding: 2rem;
    background: #fff;
}

.content-area .post-navigation a {
    font-size: 1.8rem;
    display: block;
}

.content-area .post-navigation a span {
    font-size: 1.4rem;
    font-style: italic;
    display: block;
}

.content-area .post-navigation .nav-previous {
    float: left;
    text-align: left;
    max-width: 48%;
}

.content-area .post-navigation .nav-next {
    float: right;
    text-align: right;
    max-width: 48%;
}

/*--------------------------------------------------------------
## 12.5 - Posts and pages
--------------------------------------------------------------*/

.content-area .post,
.content-area .page {
	margin-bottom: 2rem;
	padding: 2rem;
	background: #fff;
}

.content-area .post {
    border-bottom: 1px dashed #ccc;
}

.page-header {
    margin: 2rem 0;
}

.page-header .taxonomy-description {
    padding: 0 2rem;
    font-size: 1.7rem;
    text-align: justify;
}

.post .post-thumbnail,
.page .page-thumbnail {
    margin-bottom: 3rem;
    border-radius: 2px;
}

.post .post-thumbnail img,
.page .page-thumbnail img {
    width: 100%;
    height: auto;
    padding: .4rem;
}

.post-container .post-date {
    float: left;
    margin-top: .7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

.post-container .post-date .day {
    display: block;
    padding: 1rem 2rem;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 700;
    line-height: normal;
    background: #3498DB;
    border-radius: 2px 2px 0 0;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .4);
}

.post-container .post-date .month {
    display: block;
    padding: .7rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #111;
    background: #FAC03B;
    line-height: normal;
    border-radius: 0 0 2px 2px;
    text-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
}

.post-container .post-content {
    padding-left: 100px;
}

.post-container .post-content .entry-header {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
}

.post-container .post-content .entry-header .entry-title {
    font-size: 2.7rem;
    margin: 0 0 .5rem 0;
    padding: 0;
}

.page .entry-title {
    font-size: 3.6rem;
    line-height: 4rem;
}

.post .entry-title em,
.page .entry-title em {
    color: #FAC03B;
}

.post.sticky .entry-header .entry-title a:before {
    font-family: 'FontAwesome';
    content: '\f0a3  ';
    color: #FAC03B;
}

.post-container .post-content .entry-meta {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-container .post-content .entry-meta li {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.3rem;
}

.post-container .post-content .entry-content {
    margin-top: 1.8rem;
}

.post-container .post-content .entry-content .wp-caption-text {
    padding-left: 1rem;
}

.post .post-password-form label,
.page .post-password-form label {
	display: inline;
}

.post .post-password-form input[type="password"],
.page .post-password-form input[type="password"] {
    padding-right: 30px;
    margin-top: .5rem;
    background: #fff url(img/lock.png) no-repeat 98% center;
}

.post .post-password-form input[type="submit"],
.page .post-password-form input[type="submit"] {
    margin-top: 1rem;
}

.page .entry-content {
	padding-top: 1rem;
}

.post .entry-content a,
.page .entry-content a {
	text-decoration: underline;
}

.post .entry-content .more-link {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 0;
    padding-right: 1rem;
    text-decoration: none;
}

.post .entry-content .more-link:hover {
    text-decoration: none;
    color: #FAC03B;
    padding-left: 1rem;
    padding-right: 0;
}

.post .entry-footer {
	margin-top: 2rem;
}

.post .entry-footer .tags-links {
    margin-top: 3rem;
    display: block;
    color: #ccc;
}

.post .entry-footer .tags-links a {
    color: #ccc;
}

.post .entry-footer .tags-links a:hover {
    color: #3498DB;
}


.single-post .post-author-section {
    padding: 2rem 1rem;
   	margin: 2rem 0;
    background: #fff;
}

.post-author-section .gravatar-author-img {
    margin: 5px auto;
    max-width: 120px;
    max-height: 120px;
}

.gravatar-author-img .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.post-author-section .author-info .author-action {
    font-style: italic;
}

.post-author-section .author-info h6 {
    font-size: 1.8rem;
}

.post-author-section .author-info .author-text {
    text-align: justify;
}

.post-author-section .author-info .author-social-prefix {
    display: inline-block;
}

.post-author-section .author-social-links ul {
    margin: 1rem 0 1rem 1rem;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.post-author-section .author-social-links ul li {
    display: inline;
    margin-right: 1rem;
}

.post-author-section .author-social-links ul li a span{
    display: none;
}


.post table thead,
.comment .comment-content table thead {
    background: #3498DB;
    color: #fff;
}

.post table tbody tr,
.comment .comment-content table tbody tr {
    border-bottom: 1px solid #ccc;
}

.post table th,
.post table td,
.comment .comment-content table th,
.comment .comment-content table td {
    padding: 1rem;
}

.post table tbody tr:nth-child(odd),
.comment .comment-content table tbody tr:nth-child(odd) {
    background: #f1f1f1;
}

.post figure figcaption {
	padding: 1rem 0;
	margin-bottom: 1rem;
	color: #3498DB;
}


@media only screen and (max-width: 992px) {
	.content-area .post,
	.content-area .page {
		padding: 2rem 1.25rem;
	}

	.post-container .post-date {
        float: none;
        display: inline-block;
        margin-bottom: 2rem;
    }

    .post-container .post-date .day {
        padding: .5rem 1rem;
        display: inline-block;
        font-size: 1.8rem;
        border-radius: 2px 0 0 2px;
    }

    .post-container .post-date .month {
        padding: .5rem 1rem;
        display: inline-block;
        font-size: 1.8rem;
        border-radius: 0 2px 2px 0 ;
    }

    .post-container .post-content {
        padding-left: 0;
    }
}
/*--------------------------------------------------------------
## 12.6 - Post formats
--------------------------------------------------------------*/

.post.format-status .post-content .status-entry-title {
    font-size: 2.7rem;
    margin: 0 0 .5rem 0;
    padding: 0;
}

.post.format-status .post-content .status-author-img {
	display: block;
    text-align: center;
	margin: 1rem auto;

}

.post.format-status .post-content .status-author-img img {
	border-radius: 50%;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
}



.post.format-quote .post-content .quote-entry-title {
    font-size: 2.7rem;
    margin: 0 0 .5rem 0;
    padding: 0;
}

.post.format-quote .entry-content .quote-icon {
	display: inline-block;
	padding: 1rem 2rem;
	margin: 1rem 0;
	background: #FAC03B;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

.post.format-quote .entry-content blockquote cite {
	font-style: italic;
}



.post.format-link .post-content .link-entry-title {
    font-size: 2.7rem;
    margin: 0 0 .5rem 0;
    padding: 0;
}

.post.format-link .entry-content .link-icon {
	display: block;
    padding: 1rem 2rem;
    margin: 1rem auto 2rem;
    width: 54px;
    text-align: center;
    background: #FAC03B;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

.post.format-link .entry-content a {
	font-size: 2rem;
	font-style: italic;
	padding: 1rem 2rem;
	border: 1px dashed #ccc;
}




.post .embed-container,
.page .embed-container {
    position: relative;
    padding-bottom: 56.25%;  /*16:9 */
    padding-top: 25px; 
    height: 0;
    margin: 2rem 0;
}



.post .embed-container iframe,
.page .embed-container iframe,
.post .embed-container object,
.page .embed-container object,
.post .embed-container embed,
.page .embed-container embed {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*--------------------------------------------------------------
## 12.7 - Galleries
--------------------------------------------------------------*/

.gallery {
    width: 100%;
    margin-bottom: 2rem;
}

.gallery-item {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33.3333%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
    width: 20%;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.gallery-item .gallery-caption {
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .gallery-columns-2 .gallery-item,
    .gallery-columns-3 .gallery-item,
    .gallery-columns-4 .gallery-item,
    .gallery-columns-5 .gallery-item,
    .gallery-columns-6 .gallery-item,
    .gallery-columns-7 .gallery-item,
    .gallery-columns-8 .gallery-item,
    .gallery-columns-9 .gallery-item {
        width: 50%;
    }
}

@media only screen and (max-width: 782px) {
    .gallery-columns-2 .gallery-item,
    .gallery-columns-3 .gallery-item,
    .gallery-columns-4 .gallery-item,
    .gallery-columns-5 .gallery-item,
    .gallery-columns-6 .gallery-item,
    .gallery-columns-7 .gallery-item,
    .gallery-columns-8 .gallery-item,
    .gallery-columns-9 .gallery-item {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# 13.0 - Comments
--------------------------------------------------------------*/

.comments-area {
	background: #fff;
	padding: 1rem 2rem;
}

.comments-area .comments-title {
    margin: 2rem -2rem;
    padding: .5rem 2rem;
    font-weight: 400;
    font-size: 2.5rem;
    background: #FAC03B;
}

.comment-navigation .nav-links {
    font-style: italic;
}

.comment-navigation .nav-previous {
    float: left;
    text-align: left;
}

.comment-navigation .nav-previous a:before {
    font-family: 'FontAwesome';
    content: '\f100  ';
}

.comment-navigation .nav-next {
    float: right;
    text-align: right;
}

.comment-navigation .nav-next a:after {
    font-family: 'FontAwesome';
    content: '  \f101';
}

.comments-area .comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area .comment-list ol {
    margin-left: 4rem;
    padding: 0;
    list-style: none;
}

.comments-area .comment-list ol .bypostauthor {}

.comment-list .comment-body {
    margin: 2rem 0;
    border-bottom: 1px dashed #ccc;
    padding: 0 1rem;
    position: relative;
}

.comment-list .comment-body .comment-author {
    font-size: 1.6rem;
}

.comment-list .comment-body .comment-author img {
    margin: 1rem 2rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.comment-list .comment-body .comment-metadata {
    margin-bottom: 1rem;
}

.comment-list .comment-body .comment-metadata > a {
    color: #ccc;
    font-size: 1.2rem;
}

.comment-list .comment-body .comment-metadata a:hover {
    text-decoration: underline;
}

.comment-list .comment-metadata .comment-edit-link {
    color: #FAC03B;
    font-style: italic;
    margin-left: 1rem;
}

.comment-list .comment-meta .comment-awaiting-moderation {
	border: 1px solid #FAC03B;
	background: rgba(250, 192, 59, .4);
	padding: 1rem;
	font-style: italic;
}

.comments-area .no-comments {
	margin: 2rem 0;
	font-size: 2rem;
	text-align: center;
	font-weight: 700;
}

.comment-list .comment-body .comment-content {
    font-size: 1.5rem;
    text-align: justify;
}

.comment-list .comment-body .reply a {
    display: block;
    padding: 0.5rem 1rem;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.comment-list .comment-body .reply a:before {
    font-family: 'FontAwesome';
    content: '\f112  ';
}

.comment-list .comment-body .reply a:hover {
    background: #3498DB;
    border-color: #3498DB;
    color: #fff;
}

@media only screen and (max-width: 992px) {
	.comments-area .comment-list ol {
    margin-left: 2rem;
	}

	.comment-list .comment-body .reply a {
		position: static;
		margin-bottom: 2rem;
	}
}

/*--------------------------------------------------------------
# 14.0 - Footer
--------------------------------------------------------------*/

.site-footer .footer-container {
    margin-top: 2rem;
    padding-top: 3rem;
    background: #ECF0F1;
}

.site-footer .footer-container .widget-area {
	background: transparent;
}

.site-footer .footer-bottom {
    background: #111;
}

.site-footer .copy {
    color: #fff;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    text-align: center;
}

.scroll-to-top {
    color: #111;
    background: #fff;
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 2px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.scroll-to-top:hover,
.scroll-to-top:active,
.scroll-to-top:focus {
    color: #fff;
    background: #3498DB;
    border-color: #3498DB;
}


/*--------------------------------------------------------------
# 15.0 - Print styles
--------------------------------------------------------------*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .site-header,
    .comment-respond,
    .reply,
    .footer-container,
    .scroll-to-top {
        display: none;
    }

    .site-footer .social-navigation .menu-item {
        display: block;
    }

    .site-footer .social-navigation a {
        display: inline;
    }
}